<div class="collapsible pullout">
    <ul class="collection">
        {{#each notifications.notifications key="@index" as |notification|}}
            <li style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class="collection-item {{if (ember-notification-is-equal notification.status "Pending") "glow-pending"}}">
                <div for="task1" style="text-decoration: none">
                    <strong>{{notification.title}}</strong>
                    <a href="#" class="secondary-content">
                        {{#if (ember-notification-is-equal notification.status "Success")}}
                            <span class="ultra-small success">{{notification.status}}</span>
                        {{else if (ember-notification-is-equal notification.status "Pending")}}
                            <span class="ultra-small pending">{{notification.status}}</span>
                        {{else}}
                            <span class="ultra-small fail">{{notification.status}}</span>
                        {{/if}}
                    </a>
                </div>
                {{#if (ember-notification-is-equal notification.status "Pending")}}
                    <i>{{notification.description}}</i>
                {{else if (ember-notification-is-equal notification.status "Success")}}
                    <i>{{notification.description}}</i>
                {{else if (ember-notification-is-equal notification.status "Failed")}}
                    <ul>
                    {{#each notification.errors key="@index" as |error|}}
                        <li>
                            <i><strong class="red-text">{{error.code}}:</strong> {{error.title}}</i>
                        </li>
                    {{/each}}
                    </ul>
                {{/if}}
            </li>
        {{/each}}
        {{#if notifications.notifications.length}}
            <li {{action "clearAll"}} style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);" class="collection-item">
                <div class="ember-notif-clear-all" for="task1" style="text-decoration: none; center-align">
                    Clear All
                </div>
                <i>{{notification.description}}</i>
            </li>
        {{/if}}
    </ul>
</div>
